

/*Botones de Clases Presenciales y Clases Virtuales*/
$botones:(
    clases-virtuales: nth($colors,1), 
    clases-presenciales: nth($colors,8), 
    border-radius:5px,
);

.button1{
    background-color:map-get($map: $botones, $key:clases-virtuales );
    border-radius: map-get($map: $botones, $key:border-radius);
    position: relative;
	letter-spacing: 0.25em;
	padding: 1rem 2.5rem;
	outline: none;
	font-size: 15px;
    a{
        color: white;
        
    }

}

.button2{
    background-color:map-get($map: $botones, $key:clases-presenciales );
    border-radius: map-get($map: $botones, $key:border-radius);
    position: relative;
	letter-spacing: 0.25em;
	padding: 1rem 2.5rem;
	outline: none;
	font-size: 15px;
    a{
        color:white;
        
    }


}

        
   