@mixin enlaces{
    text-decoration: none;
    position: relative;
    color: #e7c713;    
}

@mixin enlaces-after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #e7c713;
    transition: 0.4s;
}

@mixin enlaces-hover{
    width: 100%;
    color: #e7c713;
}

/*Enlaces simples*/

.enlaces-notNavbar {
    text-decoration: none;
    -webkit-text-stroke-width: medium;
    text-transform: lowercase;
    color: rgb(13, 100, 89);
    font-size: 20px;
    &:hover{
        text-decoration: none;
        color: coral;
        
    }
}

